/* font-family: 'Catamaran', sans-serif;
font-family: 'Yeseva One', cursive; */

/* Code to check grid layout */
.col{
    border: solid 1px blue;
    margin:5px;
  }
  .row {
      border: solid 4px red;
      margin:2px;
  } 
/* End Code to check grid layout */

/* #205072
#329D9C
#56C596
#7BE495
#CFF4D2 */

body {
    font-family: "Catamaran", sans-serif;
    /* background: rgb(32,80,114);
background: linear-gradient(75deg, rgba(32,80,114,1) 0%, rgba(86,197,150,1) 59%, rgba(207,244,210,1) 100%); */
}

h1, h2, h3 {
    font-family: "Yeseva One", cursive;
}

nav {
    font-family: "Catamaran", sans-serif; 
}

.navbar-brand {
    font-family: "Yeseva One", cursive;  
}

.hero {
    height: 50vh;
}

li.rotate {
    font-size: 12px;
    transform: rotate(-90deg);
    /* margin-top: 20px; */
}
.cta {
    /* background-color: #56C596; */
    /* border-radius: 25px; */
    border: 1px solid #205072;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    color: #205072;
    /* text-shadow: 2px 2px 8px #205072; */
    font-family: "Yeseva One", cursive;  
}

.btn-social-icon {
    background-color: transparent !important;
    color: #329D9C !important;
    border: none;
}

ul.hero-social {
    list-style-type: none;
}

.temp1 {
    background: rgb(32,80,114);
    background: linear-gradient(75deg, rgba(32,80,114,1) 0%, rgba(86,197,150,1) 59%, rgba(207,244,210,1) 100%);
    border-radius: 25px;
    color: #ffffff;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.choose-template {
}

.signup-div {
    height: 50vh;
}

.signup {
    background: #329d9c;
    color: #ffffff; 
    border-radius: 25px; 
    padding: 50px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.budget-style {
    /* background: #329d9c; */
    color: #205072; 
    /* border-radius: 25px;  */
    padding: 50px; 
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.benefits h3{
    color: #329D9c;
}